
<div class="topHeader">
    <h1 class="logo">Who's Who?</h1>
    <h1 class="points">Points: {{points}}</h1>
</div>
<h1>Question {{questionState}}</h1>






<div *ngIf="questionState==1">
    <app-game-session [points]="points" (pointEvent)="receivePoints($event)" [questionState]="questionState" (levelNumEvent)="recLevelNumber($event)"></app-game-session>
</div>

<div *ngIf="questionState==2">
    <app-game-session [points]="points" (pointEvent)="receivePoints($event)" [questionState]="questionState" (levelNumEvent)="recLevelNumber($event)"></app-game-session>
</div>

<div *ngIf="questionState==3">
    <app-game-session [points]="points" (pointEvent)="receivePoints($event)" [questionState]="questionState" (levelNumEvent)="recLevelNumber($event)"></app-game-session>
</div>
 