
  <div class="scoreboard-page">
    <div class="scoreboard">
      <h2>Scoreboard</h2>
    
      <form *ngIf="nameModule" (ngSubmit)="addScore(name)" class="stacked-form">
        <label>
          Enter Your Name:
          <input type="text" [(ngModel)]="name" name="name" />
        </label>
        <label>
          Your Score:
          <label>{{ score }}</label>
        </label>
        <button type="submit">Add Score</button>
      </form>
      
    
      <div class="scoreboard-container"><ul>
        <li *ngFor="let entry of scoreboard">
          {{ entry.name }}: {{ entry.score }}
        </li>
      </ul></div>
      
    </div>
<button *ngIf="!nameModule" class="home-button" routerLink="/" routerLinkActive="active">Home</button>
  </div>