
  <div class="scoreboard-page">
    <div class="scoreboard">
      <h2>Scoreboard</h2>
    
      <!-- <form (ngSubmit)="addScore(name, score)">
        <label>
          Name:
          <input type="text" [(ngModel)]="name" name="name" />
        </label>
        <label>
          Score:
          <input type="number" [(ngModel)]="score" name="score" />
        </label>
        <button type="submit">Add Score</button>
      </form> -->
    
      <div class="scoreboard-container"><ul>
        <li *ngFor="let entry of scoreboard">
          {{ entry.name }}: {{ entry.score }}
        </li>
      </ul></div>
      
    </div>
<button class="home-button">Home</button>
  </div>