/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #1db954;
  --text-color: white;
  --button-background: #007bff;
  --button-text-color: white;
}

.inverted-theme {
  --background-color: #2d2d2a;
  --text-color: white;
  --button-background: #f44336;
  --button-text-color: black;
}

body {
  background-color: var(--background-color);
}

body {
  font-family: "Sofia Sans", sans-serif;
}

h1,
h2,
h3,
li,
label {
  font-family: "JetBrains Mono", monospace;
  color: var(--text-color);
}

p {
  font-family: "Song Myung", serif;
}
