.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h1,
h2 {
  color: white;
}
h2 {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}
.back-button {
  position: relative;
  right: 5px;
  height: 50px;
  width: 100px;
  /* width: 500px; */
  /* height: 500px;
  background-image: url("/src/assets/images/backArrow.png");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  color: white;
  justify-content: flex-end;
  margin-right: 10px;
  font-weight: bold;
  width: 60%;
}

input,
select {
  margin-left: 10px;
  padding: 5px;
  width: 200px;
}

.save-buttons {
  margin: auto;
  margin-top: 50px;
}
.save-button {
  background-color: rgb(0, 0, 0);
}
.reset-button {
  background-color: gray;
}

.save-buttons button {
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

.save-buttons button:hover {
  background-color: #007bff;
}
